.chatting-page {
  height: 100vh;
  flex-grow: 1;
}

.chatting-header {
  padding: 0 70px;
  height: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--componentColor);
}

.chatbox-container {
  padding: 30px 70px;
  box-sizing: border-box;
  height: calc(100vh - 100px);
  background-color: var(--backgroundColor);
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.input-container {
  height: 35px;
  width: 100%;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
  background-color: var(--componentColor);
}

.input-container input {
  all: unset;
  font: inherit;
  color: inherit;
  box-sizing: border-box;
  width: 100%;
}