.notifications-page {
  min-height: 100vh;
  padding: 30px 70px;
  flex-grow: 1;
}

.notifications-title {
  font-family: 'Freight Sans LF Pro', Arial, sans-serif;
  font-weight: 900;
  font-size: 40px;
}

.notifications-widget-container {
  padding: 4vh 0;
  display: flex;
  flex-direction: column;
  gap: 4vh;
}

.notification-widget {
  padding: 2vh 2vw;
  border: 1px solid var(--textColor);
  border-radius: 20px;
}

.notification-widget-title {
  font-size: 30px;
  font-weight: bold;
}

.notification-widget-list {
  margin-top: 3vh;
  display: flex;
  flex-direction: column;
  gap: 2vh;
}